@import 'variables.css';
@import 'mobile.css';

body{
  width:100vw;
  height:100vh;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -100px;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

nav#navbar{
  padding: 2rem 8rem
}

.right-content{
  min-width: 60%;
}

img.weather-icon{
  width: 270px;
  height:270px;
  display: block;
}

footer{
  min-width: 84%;
}

footer > .card{
  min-height: 14rem;
}

footer .card .weather-icon{
  width: 100px;
  height:100px;
}

@media screen and (min-width: 1368px){
  footer .card > .wrapper:not(:last-child)::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    width: 100%;
    border: 2px solid #fafafa;
  }
}