@media screen and (max-width: 380px){
    body{
        background-image: unset !important;
        background-color: #f0f0f0;
        font-size: 14px;
        overflow-x: hidden;
    }

    nav a{
        display: none !important;
    }

    .header .right input{
        max-width:80%
    }

    footer{
        width: 100% !important;
    }

    footer > .card{
        min-height: unset !important;
        padding: 7px 12px;
    }

    /*footer .card .wrapper{*/
    /*    max-height: 65%;*/
    /*}*/

    footer .card .wrapper.card{
        padding: 5px 8px;
    }

    .content img.weather-icon{
        width: 250px !important;
        height: 250px !important;
    }

    footer .card img.weather-icon{
        width: 70px;
        height:70px;
    }

    .content .badge-primary{
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}