:root{
    --primaryColor: #6b8ef7;
    --secondaryColor: #AA90FD;
    --accentColor: #8565E9;
}

/* fonts assets */

/*font-family: 'Poppins', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/*font-family: 'Leckerli One', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

.base-font{
    font-family: 'Poppins', sans-serif;
}

.header-font{
    font-family: 'Leckerli One', cursive;
}

.text-primary{
    color: var(--primaryColor)
}

.badge-primary{
    background-color: rgba(107, 142, 247, .25);
}

.bg-primary{
    background-color: rgba(107, 142, 247);
}

.bg-accent{
    background-color: var(--accentColor);
}

.card{
    padding: 14px 20px;
}

.glasses-blur{
    backdrop-filter: blur(4px);
}

.glasses-shadow-black{
    box-shadow: 0 14px 34px rgba(0, 0, 0, .25);
}

.bg-linear-primary{
    background:linear-gradient(var(--primaryColor), rgba(107, 142, 247, .2));
}

.bg-linear-accent{
    background:linear-gradient(145deg, var(--accentColor), rgba(133, 101, 233, .2));
}